$background-color: #e2e7f5;
$background-in-color: #edeef3;
$background-out-color: #b3c3eb;
$gnav-active-item-color: #fafafa;
$gnav-inactive-item-color: #fafafaa0;
$gnav-active-text-color: #2d2d43;
$gnav-inactive-text-color: #7c7e84;
$shadow-color: #c0c0c0;
